html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsla(47, 100%, 50%, 0.8);
  background: linear-gradient(
      45deg,
      hsla(47, 100%, 50%, 0.8),
      hsla(47, 100%, 50%, 0.5)
    )
    no-repeat fixed;
  display: grid;
  grid-template-columns: auto 1fr auto;
  letter-spacing: 1px;
  color: hsl(0, 0%, 40%);
}

header,
footer {
  background: hsla(0, 100%, 100%, 0.1);
  min-width: 200px;
  max-width: 300px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

header > * {
  display: block;
  width: 100%;
}

header form > * {
  margin: 0.5em;
}

.form-group > * {
  cursor: pointer;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 1em;
  height: 1em;
  border: 1px solid #555;
  position: absolute;
  top: 0;
  left: -1.3em;
  border-radius: 0.1em;
}

input[type="checkbox"] + label::after {
  display: none;
  content: "";
  width: 0.5em;
  height: 0.5em;
  background-color: #555;
  position: absolute;
  top: 40%;
  left: -1.05em;
  transform: translateY(-50%);
  border-radius: 0.1em;
}

input[type="checkbox"]:checked + label::after {
  display: block;
}

input[type="checkbox"]:focus + label::before {
  border-style: dashed;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
  outline: transparent;
  box-shadow: 0 0 1em -0.5em #777;
  padding: 1em;
  font-size: 1.5rem;
  color: inherit;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
}

footer p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: transparent;
  background-color: #555;
  background-clip: text;
}

footer .count {
  font-size: 3.5rem;
  font-weight: 900;
}

.btn {
  background: rgba(255, 255, 255, 0.1);
  border: transparent;
  outline: transparent;
  box-shadow: inset 0 0 0.1em 1px #555;
  color: #555;
  font-weight: 700;
  padding: 0.875em;
  border-radius: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:is(:hover, :focus) {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  header,
  footer {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }

  header > * {
    display: inline-block;
    width: unset;
  }

  header form {
    display: flex;
  }
}

@media screen and (max-width: 580px) {
  header,
  footer {
    flex-wrap: wrap;
  }

  footer p {
    font-size: 1rem;
  }

  footer .count {
    font-size: 3rem;
  }
}
